@font-face {
    font-display: swap;
    font-family: "Karla";
    src: url("../fonts/Karla-Bold.woff2") format("woff2"),
    url("../fonts/Karla-Bold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-display: swap;
    font-family: 'Karla';
    src: url("../fonts/Karla-Regular.woff2") format("woff2"),
    url("../fonts/Karla-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-family: 'Rubik', sans-serif;
    src: url("../fonts/Rubik-Regular.woff") format("woff"),
    url("../fonts/Rubik-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: #f9f9fd;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #258AFF;
}



*{
    box-sizing: border-box;
}

body{
    font-family: 'Karla', sans-serif;
    background-color: #E3EEF8;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}

img{
    display: block;
}

a{
    outline: none;
}



.flex-box{
    display: flex;

}

.align-items{
    align-items: center;
}

.row{
    justify-content: space-between;
}

/* HERO */
.hero{
    max-width: 1130px;
    margin: 0 auto;
    padding: 39px 10px 178px 10px;
}

.header{
    height: 40px;
}

.logo{
    width: 113px;
    margin: 4px 0 7px 0;
}

.logo-images{
    display: flex;
    flex-direction: column;
    
}

.logo-images img{
    width: auto;
}

.logo-images img:nth-child(2){
    margin-top: -4px
}

.logo-images img:nth-child(3){
    margin-top: -4px
}

.logo h2{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 1.2;
    letter-spacing: -1px;

}



/* Navber */
.navbar{
    width: 936px;
}

.header-nav{
    width: 336px;
    margin-left: 61px;
}

.header-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin:0;
}

.header-mobile-nav{
    display: none;
}

.header-link{
    position: relative;
    font-size: 16px;
    letter-spacing: -0.4px;
    line-height: 1.19;
    text-decoration: none;
    color:  #1F1F1F;
    transition: color 0.2s ease-in;
}

.header-link::after{
    position: absolute;
    left: 0;
    bottom: -5px;
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #258AFF;
    opacity: 0;
    transition: all 0.2s ease-in;
    color:  #258AFF;
}

.header-link:hover{
    color: #258AFF;
}

.header-link:hover::after{
    opacity: 1;
}


/* Header-button */
.header-btn{
    margin-left: 61px;
}

.header-button{
    width: 137px;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #258AFF;
    border-radius: 3px;
    font-family: 'Karla';
    font-size: 16px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: -1px;
    color: #258AFF;
    transition: all 0.2s ease-in;
}

.header-button:hover{
    color: #ffffff;
    background-color: #258AFF;
}

.header-button:active{
    color: #ffffff;
    background-color: #0c62c5;
    transition: none;
}



/* content-header */
.content-header{
    max-width: 614px;
    margin: 0 auto 157px auto;
}

.content-header h3{
    max-width: 227px;
    margin: 0 185px 27px 202px;
    font-family: 'Karla';
    font-size: 15px;
    font-weight: 700;  
    line-height: 1.2;
    letter-spacing: 2.8125px;;
    text-transform: uppercase;
    text-align: center;
    color: #666666;
}

.content-header h1{
    margin: 0 auto 19px auto;
 
    font-family: 'Karla';
    font-weight: 700;
    font-size: 70px;
    line-height: 1;
    text-align: center;
    letter-spacing: -4px;
    color: #1F1F1F;
}

.content-dec{
    margin: 0 auto 31px auto;
    max-width: 555px;
}

.content-dec p{
    margin: 0 ;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 1.71;
    /* or 171% */
    text-align: center;
    letter-spacing: -0.4px;
    color: #666666;
}

.header-form{
    max-width: 494px;
    margin: 0 auto 24px auto;
    flex-wrap: wrap;
    justify-content: center;
}

.header-form input{
    padding: 19px 0px 20px 24px;
    
    width: 275px;
    height: 60px;
    background: #FFFFFF;
    border: none;
    border-radius: 3px;
    font-family: 'Karla';
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: -0.9px;
    outline:none;
    color: #878B90;
}

.header-form button{
    padding: 0;
    margin-left: 9px;
    width: 209px;
    height: 60px;
    background: #FC593B;
    border: none;
    border-radius: 5px;
    outline:none;
    cursor: pointer;

    font-family: 'Karla';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: -0.9px;
    color: #FFFFFF;
    transition: all 0.2s ease-in;
}

.header-form button:hover{
    background-color: rgb(211, 59, 32);
}

.header-form button:active{
    background-color: rgb(167, 36, 13);
    transition: none;
}

.rating{
    font-family: 'Karla';
    font-size: 17px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: -0.32381px;
    color: #878B90;
}


/* Features */

.features{
    max-width: 1077px;
    margin: 0 auto 157px auto;
    padding: 0 10px 0 10px;
    justify-content: center;
}

.feature-contain{
    display: flex;
    width: 338px;
}


#feature-text-2{
    margin-left: 41px;
}
#feature-text-3{
    margin-left: 42px;
}

.feature-contain img{
    width: 36px;
    height: 36px;
    margin-top: 3px;
}

.feature-text{
    margin-left: 25px
}

.feature-text h4{
    font-weight: 700;
    font-size: 21px;
    line-height: 1.52;
    letter-spacing: -1px;
    color: #000000;
}

.feature-text p{
    max-width: 278px;
    margin-top: 7px;
    font-size: 17px;
    line-height: 1.65;
    color: #666666;
}


/* content-present */
.content-present{
    max-width: 100%;
    height: auto;
    background-color: #258AFF;
}

.present-contain{
    display: flex;
    justify-content: space-between;
    max-width: 1123px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    /* margin-right: 23.646%; */
    padding: 136px 0 122px 0;

}

.present-logo{
    margin-right: 131px;
}



.present-logo img{
    width: auto;
    height: auto;
}

.logo-shadow{
    position: absolute;
    margin: auto;
  
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 265.75px;
    height: 565.6px;
    margin-top: 40px;
    z-index: 1;

    background: #ffffff;
    opacity: 0.1;
    border-radius: 30px;
    transform: rotate(-28deg);

}

.present-text{
    max-width: 501px;
    padding-right: 10px;
    height: auto;
}

.present-text h3{
    font-family: 'Karla';
    font-weight: 700;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 2.8125px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.present-text h1{
    margin-top: 49px;
    margin-left: -3px;
    font-family: 'Karla';
    font-weight: 700;
    font-size: 48px;
    line-height: 1.17;
    letter-spacing: -2.52632px;
    color: #FFFFFF;
}

.present-text p{
    margin-top: 16px;
    font-family: 'Karla';
    font-size: 18px;
    line-height: 1.78;
    color: #E4E4E4;
}

.btn-present-text{
    margin-top: 51px;
    width: 209px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 5px;
    border: 2px solid #ffffff;
    outline: none;
    cursor: pointer;

    font-family: 'Karla';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: -0.9px;
    color: #258AFF;
    transition: all 0.2s ease-in;
}

.btn-present-text:hover{
    outline: none;
    background: none;
    color: #ffffff;
    border: 2px solid #ffffff;
}

.btn-present-text:active{
    background: #186ecf;
    transition: none;
}





/* Content present info */
.content-present-info{
    max-width: 100%;
}

.content-present-info::after{
    display: block;
    content: "";
    max-width: 1111px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #FFFFFF;
}

.present-info-stand{
    margin: 167px auto 172px auto;
    height: auto;
    max-width: 1130px;
    padding: 0 10px 0 10px;
}

.info-img{
    margin-left: 10px;
}

.info-img img{
    box-shadow: 0px 22px 34px rgba(0, 0, 0, 0.0893342);
    border-radius: 10px;
    width: 320px;
    height: 612px;
    object-fit: cover;
    object-position: 0 0;
}

.present-info-text{
    max-width: 579px;
    padding-top: 5px;
}

.info-text-1{
    max-width: 486px;
    margin-bottom: 95px;
}

.info-text-1 h3{
    margin-bottom: 49px;
    font-family: 'Karla';
    font-weight: 700;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 2.8125px;
    text-transform: uppercase;
    color: #258AFF;
}

.info-text-1 h1{
    margin-bottom: 16px;
    font-family: 'Karla';
    font-weight: 700;
    font-size: 48px;
    line-height: 1.17;
    letter-spacing: -2.52632px;
    color: #1F1F1F;
}

.info-text-1 p{
    font-family: 'Karla';
    font-size: 18px;
    line-height: 1.78;
    color: #666666;
}

.info-text_2 .info-event+.info-event{
    margin-left: 100px;
}

.info-event{
    max-width: 100%;
}

.info-event img{
    margin-bottom: 32px;
    width: 60px;
    height: 60px;
}

.info-event h3{
    margin-bottom: 13px;
    font-family: 'Karla';
    font-weight: 700;
    font-size: 21px;
    line-height: 1.52;
    letter-spacing: -1px;
    color: #000000;
}

.info-event p{
    font-family: 'Karla';
    font-size: 17px;
    line-height: 1.65;
    color: #666666;
}



/* Testimonial */
.content-testimonial{
    max-width: 100%;
    margin-bottom: 131px;
}

.testimonial{
    margin: 154px auto 122px auto;
    max-width: 1137px;
    padding: 0 10px 0 10px;
}


.flex-column{
    flex-direction: column;
}

.testimonial-text{
    max-width: 349px;
    margin-top: 149px;
}

.testimonial-text h3{
    margin-bottom: 49px;
    font-family: 'Karla';
    font-weight: 700;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 2.8125px;
    text-transform: uppercase;
    color: #258AFF;
}

.testimonial-text h1{
    margin-bottom: 16px;
    font-family: 'Karla';
    font-weight: 700;
    font-size: 48px;
    line-height: 1.17;
    letter-spacing: -2.52632px;
    color: #1F1F1F;
}

.testimonial-text p{
    margin-right: 34px;
    font-family: 'Karla';
    font-size: 18px;
    line-height: 1.78;
    color: #666666;
}

.testimonial-list{
    max-width: 737px;
    height: auto;
    margin-left: 31px;
    flex-wrap: wrap;
}

.testimonial-list .list-test-1,
.list-test-2, .list-test-3,
.list-test-4{
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.036062);
    border-radius: 5px;
}

.testimonial-list img{
    width: 43px;
    height: 43px;
}

.testimonial-list p{
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.78;
    letter-spacing: -0.1px;
    color: #1F1F1F;
}

.testimonial-list h3{
    font-family: 'Karla';
    font-weight: 700;
    font-size: 17px;
    line-height: 1.65;
    letter-spacing: -0.31875px;
    color: #1F1F1F;
}

.list-test-1{
    width: 350px;
    padding: 31px 39px 30px 37px;
    height: 303px;
}

.list-test-1 p{
    margin-bottom: 28px;
}

.user-info{
    margin-left: 22px;
}

.user-info p{
    margin: 0;
    font-family: 'Karla';
    font-size: 15px;
    line-height: 1.87;
    letter-spacing: -0.4px;
    color: #666666;
}

.list-test-2{
    margin-left: 37px;
    margin-bottom: 33px;
    padding: 31px 39px 32px 37px;
    width: 350px;
    height: 276px;
}

.list-test-2 p:nth-child(1){
    margin-bottom: 31px;
}

.list-test-3{
    margin-top: 30px;
    margin-right: 30px;
    padding: 31px 39px 29px 37px;
    width: 350px;
    height: 298px;
}

.list-test-3 p:nth-child(1){
    margin-bottom: 31px;
}

.list-test-4{
    padding: 31px 39px 29px 37px;
    width: 350px;
    height: 299px;
}

.list-test-4 p:nth-child(1){
    margin-bottom: 31px;
}


.clients-logo{
    max-width: 1130px;
    margin: 0 auto 0 auto;
    padding: 0 10px 0 10px;
}

.clients-logo img{
    max-height: auto;
}

.clients-logo img + img{
    margin-left: 25px;
}


/* Price */
.content-price{
    height: 1106px;
    background-image: url("../images/price-background.png");

}

.price{
    max-width: 730px;
    height: 787px;
    margin-left: auto;
    margin-right: auto;
    padding: 137px 0 181px 0;
}

.price h2{
    margin-bottom: 49px;
    font-family: 'Karla';
    font-weight: 700;
    font-size: 15px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 2.8125px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.price h1{
    margin: 0 auto 93px auto;
    max-width: 611px;
    font-family: 'Karla';
    font-weight: 700;
    font-size: 48px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: -2.52632px;
    color: #FFFFFF;
}

.price-1{
    width: 350px;
    padding: 29px 32px 29px 45px;
    background: #2B405A;
    border-radius: 6px;
}

.price-1 h4{
    margin-bottom: 18px;
    font-family: 'Karla';
    font-weight: 700;
    font-size: 13px;
    line-height: 2.46;
    letter-spacing: 0.433333px;
    text-transform: uppercase;
    color: #E5E5E5;
}

.price-1 .price-description{
    max-width: 230px;
    margin-top: 4px;
    font-family: 'Karla';
    font-size: 14px;
    line-height: 1.64;
    letter-spacing: -0.4px;
    color: #E5E5E5;
}

.price-count{
    width: 135px;
    align-items: end;
    font-family: 'Karla';
    font-weight: 700;
    color: #FFFFFF;
}

.price-count h3:nth-child(1){
    margin-bottom: 17px;
    font-size: 30px;
    line-height: 1.17;
    letter-spacing: -1.2px;
}

.price-count h3:nth-child(2){
    font-size: 50px;
    line-height: 1.2;
    letter-spacing: -2px;
}

.price-count h3:nth-child(3){
    margin-bottom: 10px;
}

.price-count h3:nth-child(4){
    margin-bottom: 9px;
    font-size: 17px;
    line-height: 1.17;
    letter-spacing: -0.68px;
}

.check-conditions{
    margin-top: 23px;
    margin-bottom: 39px;
    
}

.condition{
    margin-bottom: 7px;
}

.condition-includes{
    margin-left: 11px;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.88;
    letter-spacing: -0.425px;
    color: #FFFFFF;
}

.condition-not-includes{
    margin-left: 11px;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.88;
    letter-spacing: -0.425px;
    text-decoration: line-through;
    color: #878B90;
}

.price-btn{
    margin-bottom: 5px;
    width: 190px;
    height: 50px;
    background: #258AFF;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;

    font-family: 'Karla';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: -1.06px;
    color: #FFFFFF;
    transition: all 0.2s ease-in;
}

.price-btn:hover{
    background-color: #1e6fca;
}

.price-btn:active{
    background-color: #16569e;
    transition: none;
}

.price-1 .price-credit{
    font-family: 'Karla';
    font-size: 14px;
    line-height: 2;
    letter-spacing: -0.4px;
    color: #878B90;
}


.price-2{
    width: 350px;
    height: 515px;
    padding: 29px 32px 29px 45px;
    background: #ffffff;
    border-radius: 6px;
}

.price-2 h4{
    margin-bottom: 18px;
    font-family: 'Karla';
    font-weight: 700;
    font-size: 13px;
    line-height: 2.46;
    letter-spacing: 0.433333px;
    text-transform: uppercase;
    color: #666666;
}

.price-2 div:nth-of-type(1){
    margin-top: 3px;
}

.price-popular{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 83px;
    height: 26px;
    background: #4EAB08;
    border-radius: 13px;
}

.popular{
    font-family: 'Karla';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.25;
    letter-spacing: -0.514286px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.price-2 .price-count{
    color: #1F1F1F;
}

.price-2 .price-description{
    max-width: 230px;
    margin-top: 4px;
    font-family: 'Karla';
    font-size: 14px;
    line-height: 1.64;
    letter-spacing: -0.4px;
    color: #666666;
}

.price-2 .price-credit{
    font-family: 'Karla';
    font-size: 14px;
    line-height: 2;
    letter-spacing: -0.4px;
    color: #666666;
}

.condition-includes-black{
    margin-left: 11px;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.88;
    letter-spacing: -0.425px;
    color: #1F1F1F;
}

.price-btn-red{
    margin-bottom: 5px;
    width: 190px;
    height: 50px;
    background: #FC593B;
    border: none;
    border-radius: 5px;
    outline:none;
    cursor: pointer;

    font-family: 'Karla';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: -0.9px;
    color: #FFFFFF;
    transition: all 0.2s ease-in;
}

.price-btn-red:hover{
    background-color: rgb(211, 59, 32);
}

.price-btn-red:active{
    background-color: rgb(167, 36, 13);
    transition: none;
}



/* Footer */
.footer-container{
    max-width: 1098px;
    margin: 163px auto 126px auto;
    padding: 0 10px 0 10px;
}

.footer-description{
    max-width: 318px;
}

.footer-description .logo{
    margin-bottom: 33px;
}

.footer-description p{
    margin-bottom: 38px;
    font-family: 'Karla';
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: -0.4px;
    color: #666666;
}

.footer-social{
    width: 86px;
}

.footer-nav-wrapper{
    padding-left: 10px;
}

.footer-nav:nth-child(2){
    margin-left: 119px;
    margin-right: 83px;
}

.footer-nav-title{
    margin-bottom: 51px;
    font-family: 'Karla';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.4px;
    color: #666666;
}

.footer-nav ul{
    list-style: none;
}

.footer-nav ul li a{
    text-decoration: none;
    font-family: 'Karla';
    font-weight: 700;
    font-size: 15px;
    line-height: 2.67;
    letter-spacing: -0.4px;
    color: #1F1F1F;
}